<div class="container">
    <h1 class="title is-1" >Les tables de multiplications : </h1>
    <img src="assets/images/tables.png" alt="">
</div>

<div class="container">
  <h2 class="title is-1" >Générateur de table : </h2>
</div>

<div class="container">
  <div class="mt-5">
  <form [formGroup]="identForm" (ngSubmit)="ident()">
    <div class="field">
      <div class="control">
        <label>
          <input class="input is-success" formControlName="nombre" type="text" placeholder="Veuillez entrer le nombre de tables désiré">
        </label>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Soumettre</button>
      </div>
    </div>

    <ul *ngFor="let lenombre  of demandes">
      <ul *ngFor="let i  of tables">
        <li>{{ lenombre }}x{{ i }} = {{ i * lenombre }}
      </ul>
    </ul>
  </form>
</div>
</div>
