<section>
  <div class="container">
    <div class="column">
      <h1 class="title is-1">{{title}}</h1>
    </div>
  </div>
</section>

<div class="mt-5">
  <div class="container">
    <form [formGroup]="identForm" (ngSubmit)="ident()">
      <div class="field">
        <div class="control">
          <label>
            <input class="input is-success" formControlName="nombre" type="text"
                   placeholder="Veuillez entrer un chiffre ou un nombre">
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Soumettre</button>
        </div>
      </div>

      <div class="mt-5">
        <ul *ngFor="let i of table">
          <li>{{ chiffre }}x{{ i }} = {{ chiffre * i }}
        </ul>
      </div>
    </form>
  </div>
</div>
